{% load static %}
<link rel="stylesheet" href="{% static 'sql/style.css' %}">
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

<div class="container-fluid mt-2">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          Tables list
        </div>
        <div class="card-body">
          {% if tables_list %}
          <ul>
            {% for table in tables_list %}
              <li><a href="/sql/{{table}}">{{table}}</a></li>
            {% endfor %}
          </ul>
          {% else %}
            <p>No tables are available.</p>
          {% endif %}
        </div>
      </div>
      <div class="card mt-2">
        <div class="card-header">
          Topics
        </div>
        <div class="card-body">
          {% if sectops %}
          {% for key, values in sectops.items %}
          <div class="accordion mb-1" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="{{forloop.counter}}">
                <button class="accordion-button" 
                        type="button" 
                        data-bs-toggle="collapse" 
                        data-bs-target="#{{key|cut:" "}}" 
                        aria-expanded="true" 
                        aria-controls="{{key|cut:" "}}">
                  {{key}}
                </button>
              </h2>
              <div id="{{key|cut:" "}}" 
                   class="accordion-collapse collapse show" 
                   aria-labelledby="{{forloop.counter}}" 
                   data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <ul>
                    {% for value in values %}
                    <li>{{value}}</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          {% else %}
            <p>No Topics</p>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md-9">
      {% if dept_data %}
        {{dept_data|safe}}
      {% endif %}

      {% if emp_data %}
        {{emp_data|safe}}
      {% endif %}

      {% if reg_data %}
        {{reg_data|safe}}
      {% endif %}
    </div>
  </div>
</div>




